

.forms {
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top:35px ;
    margin-left: 10px;
}
.forms h1 {
    justify-content: flex-start;
    margin-bottom: 5px;
}
.forms input {
    height: 51px;
    width: 320px;
    margin-bottom: 10px;
}
.forms button {
    margin: 0 auto;
    width: 225px;
    height: 42px;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 25px;

}
.forms button h1 {
    font-size: 18px;
}